
@font-face {
    font-family: "bebas";
    src: url("../fonts/bebas_neue/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/montserrat/Montserrat-Bold.otf");
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.otf");
}
/*body, html {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*}*/

body {
    background: #141414;
    z-index:0;

    /*background: #343434 url("images/snakeBackground.gif");*/
    /*background-size: cover;*/
}

.navBar {
    z-index: 2;
    display: grid;
    grid-template-columns: [start] 1.5fr [logo-end] 2.5fr [menu-start] 2fr [menu-end] 3fr [social-start] 1fr [social-end];
    grid-template-rows: 60px;
    padding: 1em;
    color: white;
    /*background: rgba(0, 0, 0, 0.2);*/
    font-family: montserrat;
}

.logo {
    z-index: 2;
    align-self: center;
    padding-left: 1em;
    padding-top: 1em;
    width:300px;
}

.menuItems {
    z-index: 2;
    grid-column: menu-start/menu-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*align-self: center;*/
    /*justify-self: center;*/
    align-content: center;
    justify-content: center;
    font-family: montserrat-bold;
    font-size: larger;

}
.menuItems > div{
    padding-right: 1em;
    z-index: 2;
    opacity: 0.6;
    justify-self:center;
    align-self: center;
    text-align: center;

    font-family:montserrat-bold;
    transition: font-family 0.2s ;
    transition: opacity 0.2s;

}
.menuItems > div.active{
    z-index: 2;
    font-family: montserrat-bold, sans-serif;
    opacity: 1;
}

.hamburgerButton{
    display:none;
    background: none;
    outline: none;
    border: none;
    z-index: 2;
    grid-column: menu-start/menu-end;
    justify-self: end;
    align-self: center;
    padding-right: 1em;
}
.menuItems > div:hover{
    z-index: 2;
    /*font-size: 110%;*/
    font-family:montserrat-bold;
    transition: font-family 0.2s ;
    opacity: 1;
    transition: opacity 0.2s;

}

.socials {
    z-index: 2;
    grid-column: social-start/social-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
}

.socials > div{
    z-index: 2;
    padding-right: 1em;
}

/*TOOL TIPS*/
.tooltip {
    z-index: 2;
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    z-index: 2;
    visibility: hidden;
    width: 120px;

    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    z-index: 2;
    visibility: visible;
    opacity: 1;
}

.basicFooter {
    z-index: 2;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
    padding: 1em;
}
a {
    color: inherit;

    text-decoration-color: inherit;
    font-family: inherit;
    font-size: inherit;
}
a:hover{
    color: inherit;

    text-decoration-color: inherit;
    font-family: inherit;
    font-size: inherit;
}


@media screen and (max-width: 1600px){
    /*For Mobile only*/
    .logo {
        width:200px;
        align-self: flex-start;
        justify-self: start;
        padding-left:0;
        padding-top:0em;

    }

    .navBar {
        grid-template-columns: [start] 1fr [logo-end] 1fr [menu-start] 1fr [menu-end];
        grid-template-rows: repeat(2,50px);
    }

    .socials{
        position: fixed;
        right :0;
        bottom: 0;
        padding: 1em;
        /*grid-column: menu-start/menu-end;*/
        /*grid-row: top-footer/bottom-footer;*/
    }

    .tooltip .tooltiptext {
        top: -100%;
    }

}


@media screen and (max-width: 700px){
    /*For Mobile only*/
    .logo {
        width:200px;
    }
    .menuItems{
        /*background: rgba(255, 255, 255, 0.11);*/
        display: none;
        grid-row: 2;
        /*grid-template-columns: 1fr;*/
        grid-column:start/menu-end;
        align-self: flex-end;
        justify-self:end;
        font-size: medium;
        margin-right:1em;
    }
    .menuItems > div{
        /*align-self: flex-end;*/
        /*justify-self:end;*/
        justify-self: end;
        align-self:flex-end;
        padding:1em;

        text-align: right;

    }

    .hamburgerButton{
        display: block;
    }
}
